* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::before,
*::after {
	display: inline-block;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	color: #2e2b2b;
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	/*text-rendering: optimizeLegibility;*/
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}

input,
textarea {
	width: 100%;
}

label {
	display: inline-block;
}

button,
select,
option {
	cursor: pointer;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.App {
	background-color: #f1f1f1;
	color: #000;
	min-height: 100vh;
	display: flex;
	gap: 30px;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.App.dark {
	background-color: #2e2b2b;
}

.App.dark * {
	color: #fff;
}

.App.dark h1.title {
	background-color: #fff;
	color: #000;
}


.title {
	font-size: 44px;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
	background-color: #2e2b2b;
}

.link {
	font-size: 24px;
}

.link:hover {
	text-decoration: underline;
}